# Python bytecode files
*__pycache__/
*.pyc
*.pyo
*.egg-info/

# IDE and editor files
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# Virtual env
*env/

# Data files
*data/*

# Ignore logs files
*logs/

# Ignore dist/build
*dist/
*build/

# Ignore test output
*.log

# Ignore bash files
*.sh

# Secrets
secrets

# ENV files
*.env

#Cache
*DS_Store

# Config files
config.json